@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-center-gradient-bg-light {
  background: radial-gradient(circle at top, #f5fbff 20%,#e5f3fd 100%);
}
.radial-center-gradient-bg-dark {
  background: radial-gradient(circle at top, #0f172a 20%, #020617 100%);
}

.bg-light {
  background-color: #F8F8FF; /* Ghost White */
}

.bg-icon-light {
  @apply bg-neutral-200/65
}

.bg-tag-light {
  background-color: oklch(62.3% 0.214 259.815);
}
